<p> Time: <%= @now %> </p>
<p> Provisioning Uri: <%= @url %> </p>
<p><%= ROTP::Base32.random_base32 %></p>

<div id="qrcode"></div>

<h2>Login</h2>

<%= form_tag("login") do %>
  <input type="text" name="token" id="token" value="" placeholder="token" />
  <input type="submit" value="submit" />
<% end %>
<h3> <%= flash[:notice] %> </h3>

<% content_for(:javascript) do %>
  $('#qrcode').qrcode("<%= @url %>")
<% end %>

